@import "tailwindcss";

@theme {
  --color-amazon-blue: #131921;
  --color-amazon-blue-light: #232f3e;
  --color-amazon-yellow: #febd69;
  --color-amazon-orange: #f08804;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-[#eaeded] text-[#111] font-inter;
  }
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline text-[13px] text-blue-700;
  }

  .button {
    @apply p-2 text-[13px] bg-gradient-to-b from-[#f7dfa1] to-[#f0c14b] border border-[#a88734] rounded-[3px] focus:outline-none focus:ring-2 focus:ring-[#e77600] active:from-[#f0c14b] text-[#111] transition-all;
  }

  .button-white {
    @apply p-2 text-[13px] bg-[#f7f8fa] hover:bg-[#e7e9ec] border border-[#adb1b8] shadow-inner rounded-[3px] text-[#111] transition-all active:bg-[#f0f2f2];
  }

  .banner-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(234, 237, 237, 1) 100%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}